<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style3.css">
    <title><%=title %></title>
    
</head>
<body>
    <h1><%= title %></h1>
    <p><%= detail %></p>
    <a href="/notice">목록으로 돌아가기</a>
</body>
</html>
