body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden; /* Remove horizontal scrolling */
    scroll-behavior: smooth; 
    min-width: 1200px; /* Set minimum width */
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0175a0;
    color: #fff;
    padding: 0.5rem 1rem; /* Reduced padding */
    font-size: 1.2rem; /* Increased font size */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    min-width: 1576px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-family: 'WonchuriTitle'; /* Apply custom font */
}

nav a:hover {
    text-decoration: underline;
}

.nav-links {
    display: flex;
    margin-left: 0.5rem; /* Adjusted margin to move closer to the logo */
}
.nav-links a {
        padding: 0.5rem;
       
    }

.nav-links.show {
        display: flex;
    }

.menu-toggle {
        cursor: pointer;
        font-size: 1.5rem;
        color: #fff;
    }


.logo img {
    height: 100%;
    width: 180px; /* Set width to 190 pixels */
}

.logo {
    height: 40px;
    width: 190px; /* Adjust the height as needed */
}

html {
    scroll-behavior: smooth; /* Ensure smooth scrolling */
}
@font-face {
    font-family: 'WonchuriTitle';
    src: url("high1\ Wonchuri\ Title\ M.ttf") format('truetype');
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
}

table {
    width: 600px;
    margin: 50px;
    border-collapse: collapse;
    height: 40px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100px;
}
th {
    background-color: #f2f2f2;
    text-align: center;
}
td {
    text-align: center;
}
tbody tr {
    height: 40px; /* Set height for each row in tbody */
}
.write-button {
    display: block;
    width: 100px;
    margin: 20px auto;
    padding: 10px;
    background-color: #0175a0;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.write-button:hover {
    background-color: #005f7a;
}